@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }

  .nav-transition {
    transition: all 0.4s ease-in-out;
  }

  .hamburger-top,
  .hamburger-bottom {
    transition: all 0.3s ease-in-out;
  }

  .active .hamburger-top {
    transform: translateY(9px) rotate(45deg);
  }

  .active .hamburger-bottom {
    transform: translateY(0px) rotate(-45deg);
  }

  .bg-hero {
    background-image: url('../img/intro-image.avif');
    background-repeat: no-repeat;
  }

  @media (max-width: 810px) {
    .bg-hero {
      background-image: url('../img/intro-image.avif');

      background-size: 340px auto;
      background-position-x: center;
      background-position-y: 315px;
      /* background-position: center; */
    }
  }

  @media (min-width: 810px) and (max-width: 1200px) {
    .bg-hero {
      background-size: 1070px auto;
      background-position-x: calc(100% + 260px);
      background-position-y: -65px;
    }
  }

  @media (min-width: 1200px) {
    .bg-hero {
      background-size: 530px auto;
      /* background-attachment: fixed; */
      background-position-x: calc(100% - 30px);
      background-position-y: 165px;
    }
  }
}

@layer components {
  .btn-glow {
    @apply transition-shadow duration-300;
  }

  .btn-glow:hover {
    @apply shadow-[0_0_5px_5px_rgba(225,225,225,0.3)];
  }
}
